#reports-container{
    padding: 20px 5px;
    
}

#legend{
    margin-top: 5px;
    text-align: center;
    border-radius: 30px;
    background: lightgray;
}

#legend p{
    display: inline-block;
    margin: 10px 20px;
}

#records-value{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background: lightgray;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.report-title{grid-area: title}
.report-status{grid-area: status}
.report-comment{grid-area: comment}
.report-items{grid-area: items}
.report-details{grid-area: details}

div .report-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 5px;
    transition: 0.3s;
    display: grid;
    grid-template-areas: 
        'title title status'
        'comment comment comment'
        'items items details';
    grid-gap: 3px;
    text-align: center;
    color: #fff;
    margin: 10px auto;
}

div .report-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

.report-card > div{
    background-color: rgba(0, 0, 0, 0.1);
}

.red-flag{
    background-color: rgba(212, 43, 20, 0.7);
}

.intervention{
    background-color: rgba(236, 223, 29, 0.7)
}

.total{
    background-color: #111;
    border-radius: 40%;
    padding: 5px;
    color: #fff;
}

.draft{
    background-color: gray;
    border-radius: 40%;
    padding: 5px;
    color: #fff;
   
}

.investigate{
    background-color: darkgoldenrod;
    border-radius: 40%;
    padding: 5px;
    color: #fff;
}

.rejected{
    background-color: red;
    border-radius: 40%;
    padding: 5px;
    color: #fff;
}

.resolved{
    background-color: green;
    border-radius: 40%;
    padding: 5px;
    color: #fff;
}


.tag{
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;   
}

.report-options > button{
   border: none;
   font-size: 1rem;
   margin: 3px;
   padding: 5px;
   border-radius: 5px;
   cursor: pointer;
   
}


@media(max-width: 760px){
    .tag{
        display: inline
    }

    #records-value{
        flex-flow: column;
    }
}

