#reports-container{
    padding: 20px 5px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1)
    
}

#legend{
    margin: 15px 5px;
    text-align: center;
    border-radius: 30px;
    background: lightgray;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    
}

#legend p{
    display: inline-block;
    margin: 10px 20px;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

#records-value{
    display: flex;
    justify-content: space-around;
    margin: 5px 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background: lightgray;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
    
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.report-title{grid-area: title}
.report-status{grid-area: status}
.report-comment{grid-area: comment}
.report-items{grid-area: items}
.report-details{grid-area: details}

div .report-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 5px;
    transition: 0.3s;
    display: grid;
    grid-template-areas: 
        'title title status'
        'comment comment comment'
        'items items details';
    grid-gap: 3px;
    text-align: center;
    
    margin: 30px auto;
}

div .report-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

.report-card > div{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.red-flag{
    border: 5px solid rgba(212, 43, 20, 0.7)
}

.intervention{
    border: 5px solid rgba(236, 223, 29, 0.7)
}

.total{
    background-color: #111;
    border-radius: 40%;
    padding: 5px;
    color: #fff;
}

.draft{
    background-color: gray;
    border-radius: 40%;
    padding: 5px;
    color: #fff;
   
}

.investigate{
    background-color: darkgoldenrod;
    border-radius: 40%;
    padding: 5px;
    color: #fff;
}

.rejected{
    background-color: red;
    border-radius: 40%;
    padding: 5px;
    color: #fff;
}

.resolved{
    background-color: green;
    border-radius: 40%;
    padding: 5px;
    color: #fff;
}


.tag{
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;   
}

.report-options > button{
   border: none;
   font-size: 1rem;
   margin: 3px;
   padding: 5px;
   border-radius: 5px;
   cursor: pointer;
   
}


.yes{
    height: 2rem;
    background: rgb(214, 37, 37);
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
}

.no{
    height: 2rem;
    background: #4BB448;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
}



/*modal view*/

.modal{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content{
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}



@media(max-width: 760px){
    .tag{
        display: inline
    }

    #records-value{
        flex-flow: column;
    }
}

